docs/plan.aux
docs/plan.tex
docs/plan.log
docs/plan.pdf
rawc.userprefs
bin
aclocal.m4
autom4te.cache
config.log
config.status
configure
install-sh
*.pc
*.pidb
Makefile
Makefile.in
missing
cpgrawc
m4
cdnrawc.userprefs
config.guess
config.sub
depcomp
libcdnrawc/Config.cs
libcdnrawc/Programmer/Formatters/C/cdn-rawc/integrators/.dirstamp
libtool
ltmain.sh
./cdn-rawc
