Source: cdn-rawc
Priority: extra
Maintainer: Jesse van den Kieboom <jesse.vandenkieboom@epfl.ch>
Build-Depends: debhelper (>= 7),
               autotools-dev,
               cdbs,
               pkg-config,
               mono-dmcs,
               codyn3-sharp (>= 3.4),
               libglib2.0-cil-dev
Standards-Version: 3.8.0
Section: science
Homepage: http://biorob.epfl.ch

Package: cdn-rawc
Section: science
Suggests: gcc
Architecture: any
Depends: libmono-system4.0-cil, libmono-corlib4.0-cil, libglib2.0-cil, libcodyn3 (>= 3.4)
Description: codyn network low level compiler
 A low level compiler for codyn networks

Package: cdn-rawc-dev
Section: libdevel
Architecture: any
Depends: cdn-rawc, codyn3-sharp (>= 3.4), mono-dmcs
Description: codyn network low level compiler development files
 A low level compiler for codyn networks (development files)
